{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roman Numeral Converter</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <h1>Roman Numeral Converter</h1>
    <form id="roman-form" method="GET" action="{% url 'roman_convert' %}">
        <!-- <label for="roman">Insert Roman Numeral:</label> -->
        <input placeholder="Insert Roman Numeral" type="text" id="roman" name="roman" class="input" required>
        <button type="submit" class="button">Convert</button>
    </form>

    {% if result %}
    <h2>Result: {{ result }}</h2>
    {% endif %}

    {% if error %}
    <h2 style="color: red;">Error: {{ error }}</h2>
    {% endif %}
</body>

</html>